/*--------------------------------------------    Login    -----------------------------------------------------------*/

/*--------------------------------------------   Accueil   -----------------------------------------------------------*/
#userName {
    font-weight: bolder;
    font-size: 15px;
}

#row-batiments, #row-ressources {
    margin-bottom: 15px;
}
