<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Incremental</title>

    <!--Css-->
    <link rel="stylesheet" href="/public/style/style.css">
    <link rel="stylesheet" href="/public/style/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style/jquery-ui.css">
    <link rel="stylesheet" href="/public/style/jquery-ui.theme.css">

</head>
<body>
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Incremental</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a id="userName"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="btn-test">Test</a></li>
                    <li class=""><a href="/logout">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row" id="row-informations">
        <div class="col-xs-12">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a>POPULATION</a></li>
                    <li><a>Totale: <span data-totalpop="" class="totalPop"></span></a></li>
                    <li><a>Disponible: <span data-disponiblePop="" class="disponiblePop"></span></a></li>
                    <li><a>Maximum: <span class="maxPop"></span></a></li>
                    <li><a>Evolution: <span class="evolutionPop"></span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row" id="row-batiments">
    </div>

    <div class="row" id="row-ressources">
    </div>

</div>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="public/js/jquery-ui.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="public/js/mainClient.js"></script>
</body>
</html>

